*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #96d5e8;
}

/* HEADER */
.header {
  padding: 2rem;
  text-align: center;
  color: #3a0047;
}

.header h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.header button {
  display: inline-block;
  padding: 0.5rem 2rem;
  background-color: #3a0047;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
}
/* HEADER */

/* MAIN */
.main-container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

.cards {
  /*background-color: white;*/
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.card {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: none;
  border-left: #3a0047 solid 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.47);
}

.card h3 {
  color: #3a0047;
  font-size: 1.5rem;
}

.card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.controles {
  align-self: flex-end;
  font-size: 1.25rem;
  display: flex;
  gap: 1rem;
  color: #3a0047;
}
/* MAIN */
/* PRUEBA MODAL */
dialog {
  width: 320px;
  max-width: 600px;
  position: fixed;
  margin: auto;
  border: none;
  padding: 1rem;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out,
    display 0.5s allow-discrete;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
dialog:open {
  transform: translateY(0);
  opacity: 1;
}
@starting-style {
  dialog:open {
    transform: translateY(100%);
    opacity: 0;
  }
}
::backdrop {
  background-color: #222222;
  opacity: 0.75;
  backdrop-filter: blur(2px);
}
dialog > button {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #3a0047;
  color: white;
  font-weight: bold;
  padding: 0.25rem;
  align-self: flex-end;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
}
form,
form div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form div {
  gap: 0.5rem;
}

form h3{
  font-size: 1.5rem;
  color: #3a0047;
}

form button {
  display: inline-block;
  background-color: #3a0047;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.125rem;
}

form input[type="text"],
form input[type="tel"] {
  padding: 0.5rem;
  font-family: "Raleway", sans-serif;
}
